# Gradle
.gradle
build/
!build/cache/

# IntelliJ
.idea/
*.iml
*.iws

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
.env

# VS Code
.vscode/
bin/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
out/
